@use "../variables" as v;

.table {
  background-color: v.$white;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem; // 14sp Body 2

  // Headers
  th {
    color: rgba(0, 0, 0, 0.6); // Medium emphasis
    font-weight: 500;
    font-size: 0.875rem;
    padding: 1rem 1rem; // Relaxed padding
    vertical-align: bottom;
    border-width: 0 0 1px;
    border-color: rgba(0, 0, 0, 0.12);
  }

  // Cells
  td {
    border-width: 0 0 1px;
    border-color: rgba(0, 0, 0, 0.12); // Divider color
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  // Striped
  &.is-striped {
    tbody tr:not(.is-selected):nth-child(even) {
      background-color: #fafafa; // Very subtle grey
    }
  }

  // Hoverable
  &.is-hoverable {
    tbody tr:not(.is-selected):hover {
      background-color: #f5f5f5; // Standard hover
    }
  }

  // Bordered - Material usually doesn't do full grid borders, mostly rows.
  // But if requested:
  &.is-bordered {
    td,
    th {
      border-width: 1px;
    }
  }
}
