@use "../variables" as v;
@use "sass:color";

.tag {
  // Material Chip
  align-items: center;
  background-color: var(--bulma-border); // Grey 300 equivalent
  border-radius: 16px; // Chip radius
  color: var(--bulma-text); // High emphasis
  display: inline-flex;
  font-size: 0.8125rem; // 13sp
  height: 32px; // Standard height
  justify-content: center;
  line-height: 1.5;
  padding-left: 12px;
  padding-right: 12px;
  white-space: nowrap;
  font-weight: 500;

  // Spacing
  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  // Icon inside tag
  .icon {
    margin-left: -4px;
    margin-right: 4px;
    height: 18px;
    width: 18px;
  }

  // Delete button inside tag
  .delete {
    margin-left: 4px;
    margin-right: -4px;
    background-color: transparent;
    opacity: 0.54;

    // Custom delete icon similar to Material cancel
    &::before,
    &::after {
      background-color: var(--bulma-text-strong);
    }

    &:hover {
      background-color: transparent;
      opacity: 0.87;
    }
  }

  // Colors
  &.is-primary {
    background-color: var(--bulma-primary);
    color: var(--bulma-primary-invert);
  }
  &.is-link {
    background-color: var(--bulma-link);
    color: var(--bulma-link-invert);
  }
  &.is-info {
    background-color: var(--bulma-info);
    color: var(--bulma-info-invert);
  }
  &.is-success {
    background-color: var(--bulma-success);
    color: var(--bulma-success-invert);
  }
  &.is-warning {
    background-color: var(--bulma-warning);
    color: var(--bulma-warning-invert);
  }
  &.is-danger {
    background-color: var(--bulma-danger);
    color: var(--bulma-danger-invert);
  }

  &.is-light {
    background-color: var(--bulma-background);
    border: 1px solid var(--bulma-border);
  }

  // Sizes - Chips dont vary much but we support Bulma modifiers
  &.is-medium {
    height: 32px;
    font-size: 0.875rem;
  }
  &.is-large {
    height: 40px;
    border-radius: 20px;
    font-size: 1rem;
  }
}
