.input,
.textarea {
  border-radius: 4px !important;
  height: 56px !important;
  background-color: var(--bulma-scheme-main-ter);
  border: 1px solid var(--bulma-border);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid var(--bulma-text);
  box-shadow: none !important;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 1rem;
  padding: 8px 16px;
  color: var(--bulma-text);

  &::placeholder {
    color: var(--bulma-text-weak);
  }

  &.is-material-filled {
    background-color: rgba(125, 125, 125, 0.1);
    border: none;
    border-bottom: 2px solid var(--bulma-border-hover);
    border-radius: 4px 4px 0 0;

    &:hover {
      background-color: rgba(125, 125, 125, 0.15);
      border-bottom-color: var(--bulma-text-strong);
    }

    &:focus {
      background-color: rgba(125, 125, 125, 0.15);
      border-bottom-color: var(--bulma-primary);
      box-shadow: none !important;
    }
  }

  &:not(.is-material-filled) {
    background-color: transparent;
    border: 1px solid var(--bulma-border); // Use var

    &:hover {
      border-color: var(--bulma-text-strong);
    }

    &:focus {
      border-color: var(--bulma-primary);
      border-width: 2px;
      padding-left: calc(16px - 1px);
      padding-right: calc(16px - 1px);
      box-shadow: none !important;
    }
  }
}
